body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat, serif;
    height: 100vh;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid gray;
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
}

header .container nav ul li {
    padding: 15px 100px;
    border-radius: 2px;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .6s;
}

header .container nav ul li:hover {
    background-color: gray;
}

table,
table th,
table td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

img {
    max-width: 50%;
}

.main {
    display: flex;
}

.first {
    text-align: center;
    padding-top: 20px;
    width: 10%;
    flex-grow: 1;
    border: 1px solid black;
}

.second {
    text-align: center;
    padding-top: 20px;
    width: 10%;
    flex-grow: 3;
    border: 1px solid black;
}

.main > div.container {
    flex-grow: 1;
    padding: 30px;
}

footer {
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}